<head>
    <%- include("partials/include_me.ejs") %>
    <style>
        body {
            background-color: #ff5c6c;
        }
    </style>
</head>

<body>
    <%- include("partials/header.ejs") %>
</body>