<!DOCTYPE html>
<html lang="en">

    <style>
        form {
          width: 30%;
          margin: auto;
        }
        label, small, a {
          color: white;
          font-family: Helvetica;
          text-align: left;
        }
        button {
          width: 100%
        }
        body {
            min-height: 100vh;
        }
        /* html {
            height: 100%;
        } */
        .centre {
            text-align: center;
        }

        .bg-colour {
            background-color: #ff5c6c;
        }

        .btn-primary {
            background-color: #c7004c !important;
            border: #c7004c !important;

        }
        .btn-primary:hover {
            background-color: #97003a !important;
        }
        .btn-primary:active {
            background-color: #97003a !important;
            outline: none !important;
            box-shadow: none !important;
        }
        .btn-primary:focus {
            background-color: #97003a !important;
            outline: none !important;
            box-shadow: 0 0 0 0.2rem #ff3f89 !important;
        }
    </style>

<header>
    <%- include("partials/include_me.ejs") -%>
</header>

<body class="bg-colour">

<main  style="text-align:center;">
    <br>
    <img src="/assets/logoTransparentFull.png" alt="logo" width="231px" height="116px">
</main>
<br><br>
<div style="width: 30vw; margin: auto;">
    <div id="errorAlert" class="alert alert-danger" role="alert" hidden="true"></div>
    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="Name" class="form-control" id="nameInput" aria-describedby="NameHelp" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <svg id="pwdTooltip" data-toggle="tooltip" data-placement="right" title="You should use a strong password with special characters (!$£), numbers, lowercase, and uppercase letters. Weak passwords which can be easily guessed are not secure and could be easily guessed by hackers! Don't let hackers see your money, use a strong password!" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="#ffffff" style="margin-left: 0.5em;" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="passwordInputConfirm">Confirm Password</label>
      <input type="password" class="form-control" id="passwordInputConfirm" placeholder="Confirm Password">
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="advancedCheck">
        <label class="form-check-label" for="exampleCheck1">I want advanced mode.</label>
      </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="tcCheck" required="true">
        <label class="form-check-label" for="exampleCheck1">I accept the Terms and Conditions</label>
      </div>
    <button id="registerBtn" type="submit" class="btn btn-primary">Register</button>
    <small>Have an account? <a style="color:white; text-decoration: underline;" href="/">Log in Now</a></small>
  </div>

  <form hidden="true" action="/" method="post" id="homeRedirect">
    <input type="hidden" value="" id="redirectID" name="userid">
</form>
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
  <script>
      <%- include("partials/firebase_config.ejs") -%>
  
      firebase.initializeApp(config);
      
      var registerBtn = document.getElementById("registerBtn");
      var email = document.getElementById("emailInput");
      var password = document.getElementById("passwordInput");
      var passwordConfirm = document.getElementById("passwordInputConfirm");
      var nameInput = document.getElementById("nameInput");

      var tcCheck = document.getElementById("tcCheck");
      var advancedCheck = document.getElementById("advancedCheck");
  
      var redirectForm = document.getElementById("homeRedirect");
      var redirectUserID = document.getElementById("redirectID");

      $("#pwdTooltip").tooltip();
  
      registerBtn.onclick = function() {
        if (!tcCheck.checked)
        {
          setErrorAlert("You must accept the T&Cs");
        }
          if (password.value !== passwordConfirm.value)
          {
              setErrorAlert("The passwords must match");
          }
          else
          {
              firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
              firebase.auth().createUserWithEmailAndPassword(email.value, password.value)
                  .then(function(user) {
                      console.log(user);
                      $.get(`/api/initNewUser?userID=${firebase.auth().currentUser.uid}&advanced=${advancedCheck.checked}&name=${nameInput.value}`, function(data, status){});
                      return user.user.getIdToken().then(function(idToken) {
                          const csrfToken = getCookie('csrfToken');
                          return postIdTokenToSessionLogin('/sessionLogin', idToken, csrfToken);
                      });

                  })
                  .then(function() {
                      return firebase.auth().signOut();
                  })
                  .then(function() {
                      window.location.assign('/');
                  })
                  .catch(function(err) {
                      if (err.code === "auth/weak-password") setErrorAlert("The password must be 6 characters long or more");
                      else if (err.code === "auth/email-already-in-use") setErrorAlert("That email address is already in use");
                      else console.error(err);
                  });
          }
      }
  
  function setErrorAlert(err)
  {
      var alert = document.getElementById("errorAlert");
      alert.innerText = err;
      alert.hidden = false;
  }
  
  
  function getCookie(cookieName) {
      var name = cookieName + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var x = decodedCookie.split(";");
      for (var i = 0; i < x.length; i++) {
          var y = x[i];
          while (y.charAt(0) == " ") {
              y = y.substring(1);
          }
          if (y.indexOf(name) == 0) return y.substring(name.length, y.length);
      }
      return "";
  }
  
  function postIdTokenToSessionLogin(url, id, csrfToken) {
      return $.ajax({
          type: 'POST',
          url: url,
          dataType: "json",
          data: {idToken: id, csrfToken: csrfToken},
          contentType: 'application/x-www-form-urlencoded',
          xhrFields: {
              withCredentials: true
          },
          crossDomain: true
      });
  };
  </script>


</body>



</html>